{% extends '../_layout.html' %}

{% block content %}

<div class="text-center">
    <h1 data-id="{{ board['_id'] }}">Boards {{ board.title }}</h1>

    <div>
        <a href="/boards/create" class="button">Create board</a>
    </div>
</div>

<div class="wrapper">
    {% for board in boards %}
    <div class="card preview">
        <div class="card-image">
            <a href="/boards/{{ board.slug }}?board_id={{ board.id }}">
                <img src="/images/{{ board.image_path }}" alt="image board" style="max-width: 100%;">
            </a>
        </div>
        <div class="card-body">
            <h2 class="preview-title"><a href="/boards/{{ board.slug }}">{{ board.title }}</a></h2>
        </div>
    </div>
    {% endfor %}

    <div class="paginate-wrapper">
        {% for i in range(1, pages) %}
            <a href="/boards?page={{i}}" class="button">{{ i }}</a>
        {% endfor %}
        <div style="margin-top: 1rem;">
            Total: {{ total }}
        </div>
    </div>

</div>
{% endblock %}