{
    "app": {
        "name": "POC boards",
        "port": 8080,
        "crypto": {
            "update": "lorem ipsum dolor"
        },
        "db": {
            "database": "board",
            "username": "your postgres username",
            "password": "your password"
        }
    }
}