{
    "app": {
        "name": "POC boards",
        "port": 8080,
        "crypto": {
            "update": "lorem ipsum dolor"
        }
    },
    "db": {
        "database": "board",
        "username": "your postgres username",
        "password": "your password"
    },
    "mail": {
        "domain": "https://api.mailgun.net/v3/sandbox6d9ca887692f4d7f802c68cc2fc1b6db.mailgun.org",
        "apiKey": "aaab6718f7d07f18a6ddc0169cc80b87-52b6835e-42b7da42"
    }
}