button, .button {
	border: 1px solid transparent;
	padding: .4rem;
	font-size: 1rem;
	border-radius: .25rem;
	text-decoration: none;

	background: $blue;
	color: #fff;
	cursor: pointer;

	&:hover {
		background: $blue2;
		color: #fff;
	}

	&.block {
		width: 100%;
	}

	&.green {
		background: $green1;
	}
}
