.message {
	position: relative;
	min-height: 1em;
	margin: 1em 0;
	    margin-bottom: 1em;
	background: #f8f8f9;
	padding: 1em 1.5em;
	line-height: 1.4285em;
	color: rgba(0,0,0,.87);
	-webkit-transition: opacity .1s ease,color .1s ease,background .1s ease,-webkit-box-shadow .1s ease;
	transition: opacity .1s ease,color .1s ease,background .1s ease,-webkit-box-shadow .1s ease;
	transition: opacity .1s ease,color .1s ease,background .1s ease,box-shadow .1s ease;
	transition: opacity .1s ease,color .1s ease,background .1s ease,box-shadow .1s ease,-webkit-box-shadow .1s ease;
	border-radius: .28571429rem;
	-webkit-box-shadow: 0 0 0 1px rgba(34,36,38,.22) inset,0 0 0 0 transparent;
	box-shadow: 0 0 0 1px rgba(34,36,38,.22) inset,0 0 0 0 transparent;

	&.success {
		background: $green1;
	}
}