table {
	margin: 2rem 0;
	border: 1px solid #999;
	width: 100%;
	border-collapse:collapse;
	
	
	thead {
		text-align: left;
		background: #212529;
		color: #fff;
		margin: 0;
		padding: 0;
	}

	tbody {
		tr {
			&:nth-child(even) {
				background: rgba(0,0,0,.09);
			}
		}
	}

	tr {
	}

	td, th {
		padding: .4rem;
		width: 50%;
	
		a {

			display: inline-block;
			width: 100%;
		}
	}
}

