@import '_variables';
@import '_button';
@import '_card';
@import '_form';
@import '_footer';
@import '_table';
@import '_typography';
@import '_dialog';
@import '_message';
@import '_misc';

body { 
	margin: 0;
	padding: 0;
	font-family: arial;
	background: #f6f6f6;
	line-height: 1.6;
}

a {
	color: $blue;
	text-decoration: none;

	&:hover {
		color: $blue2;
	}
}

header {
	display: flex;
	background: #212529;;
	justify-content: space-between;
	width: 100%;

	nav {
		display: flex;
		justify-content: space-between;
		width: 100%;
		padding: .6rem;

		ul {
			display: flex;
			align-items: center;
			margin: 0;

			li {
				list-style-type: none;

				a {
	
					padding: 1rem 2rem;
					margin: 0 1rem;
					text-decoration: none;
					font-size: 1.2rem;
					color: #fff;

					&:hover {
						color: #aaa;
					}
				}
			}
		}
	}
}

main {
	min-height: 80vh;
}

.container {
	max-width: 1344px;
	width: 1344px;
	margin: 2rem auto;
}

.wrapper {
	display: flex;
	flex-wrap: wrap;

	#ul-menu {
		background: #212529;
		height: 100vh;
		margin: 0;
		padding: 0;
	}

	#ul-menu li {
		list-style-type: none;
	}

	#ul-menu a {
		display: block;
		padding: 1rem;
		color: #fff;
	}

	#ul-menu a.active {
		background: #306775;
	}

	#ul-menu a:hover {
		background: #273c75;
		color: #fff;
		text-decoration: none;
	}

	#content-wrapper {
		background: #f6f6f6;
		padding: 2rem;
	}
}

.paginate-wrapper {
	width: 100%;
	text-align: center;
	padding: 1rem;

	.button {
		display: inline-block;
		margin: .1rem;
	}
}

section {
	.title {
		text-align: center;
	}
}

.backdrop {
	width: 100vw;
	height: 100vh;
	background: rgba(#000, .5);
	z-index: 33;
	position: fixed;
	top: 0;
	left: 0;
}

@media screen and (max-width: 992px) {
	header {
		width: 100%;
		
		.logo-space {
			text-align: center;
		}

		nav {
			//background: red;
			width: 100%;
			flex-direction: column;

			ul {
				flex-direction: column;
				padding: 0;
			}
		}
	}

	.container {
		width: 100%;
	}
}
