{% extends './_layout.html' %}

{% block content %}
<div class="container">
    <div class="card">
        <div class="card-body">
            <h1 class="text-center">Rules</h1>
            <div>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab cupiditate, distinctio eaque eveniet incidunt minus modi, nobis omnis porro praesentium ut vel voluptatibus? Asperiores delectus eaque odio quasi sunt suscipit.
            </div>
        </div>
    </div>
</div>
{% endblock %}