<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Register</title>
    </head>
    <body style="background: #f6f6f6;">
        <h1>Welcome</h1>
        <div>
            <a href="{{ domain}}/verify/{{ token }}">
                Click here to confirm
            </a>
        </div>
    </body>
</html>