{% extends '../_layout.html' %}

{% block content %}
<div class="text-center" style="margin: 1rem;">
    <h1>Board <br> {{ board.title }}</h1>

    <picture>
        <source srcset="/images?path={{ board.image_path }}">
        <img src="/images?path={{ board.image_path }}" alt="image board" style="max-width: 200px; margin: 1rem;">
    </picture>

    <div>
        <a href="/boards/{{ board.slug }}/{{ board.id }}/create" class="button">Create thread</a>
    </div>
</div>

<div class="wrapper">
    {% for thread in threads %}
        <div class="card preview">
            <div class="card-image">
                <a href="/boards/{{ board.slug }}/{{ thread.id }}?board_id={{ board.id }}&thread_id={{ thread.id }}">
                    <img src="/images?path={{ thread.image_path }}" alt="image board" style="max-width: 100%;">
                </a>
            </div>
            <div class="card-body">
                <h3 class="preview-title"><a href="/boards/{{ board.slug }}/{{ thread.id }}?board_id={{ board.id }}&thread_id={{ thread.id }}">{{ thread.title }}</a></h3>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}